@import './variables.css';

/* Set the default typography for monospace elements */
tt,
code,
kbd,
samp,
pre {
  font-family: var(--jp-code-font-family);
  font-size: var(--jp-code-font-size);
  line-height: var(--jp-code-line-height);
}

.gk-exercise {
  padding: 10px;
  padding-top: 60px;
  border-left: 4px solid #059669;
  border-radius: 5px;
}

.gk-exercise::before {
  content: "Aufgabe";
  font-size: 18px;
  position: absolute;
  top: 0;
  left: 6px;
  padding: 10px;
  padding-left: 40px;
  margin-bottom: 20px;
  width: calc(100% - 60px);
  background-color: rgba(5, 150, 105, 0.7);
  border-radius: 5px;
  background-image: url('https://i.imgur.com/JyhBeDB.png');
  background-size: 30px; 
  background-position: left 7px top 10px ; 
  background-repeat: no-repeat;
}

/* In case we forget to adapt and exercise */
.gk-exercise-image {
  display: none;
}

.gk-exercise-label {
  display: none;
}

table.gk-keywords tr td code {
  background-color: transparent;
}

table.gk-keywords tr td code.new {
  font-weight: bold;
}

table.gk-keywords tr td code.known {
  background-color: lightgreen;
}

.gk-cell-feedback-container {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  align-items: flex-end;
  margin-left: 78px;
  border-left: 4px solid #059669;
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.gk-cell-feedback-container + hr {
  margin-left: 78px; 
}

.gk-cell-feedback-container > summary {
  background-color: rgba(5, 150, 105, 0.7);
  list-style: none;
  border-radius: 5px;
  margin-left: -4px;
  padding: 10px;
}

details[open].gk-cell-feedback-container summary svg {
  transform: rotate(90deg);
}

.gk-cell-feedback-container summary svg {
  position: absolute;
  width: 15px;
  height: 15px;
  right: 10px;
  top: 19px;
  transition: transform 0.2s ease-in-out; /* Add smooth transition */
}

.gk-cell-feedback-container .rating {
  display: flex;
  align-items: center;
}

.gk-cell-feedback-container .star {
  width: 20px;
  height: 20px;
  margin: 5px;
  cursor: pointer;
}

.gk-cell-feedback-container .submit-button {
  background-color: blue;
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 10px;
  cursor: pointer;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  transition: all 0.3s;
}

.gk-cell-feedback-container .submit-button:hover {
  background-color: deepskyblue;
  transform: translateY(-1px);
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.gk-cell-feedback-container .submit-button:active {
  transform: translateY(1px);
  box-shadow: none;
}

.gk-cell-feedback-container .submitted-message {
  margin-left: 10px;
  font-size: 12px;
  font-weight: lighter;
  display: flex;
  gap: 5px;
}
